@font-face {
    font-family: "MontserratBold";
    src: url("../assets/fonts/Montserrat-Bold.ttf");
}


/* div {
    border: 1px solid black;
} */

#heading {
    text-align: center;
    font-weight: 400;
    font-family: 'MontserratBold';
    color: red;
}

.img_div {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.name_div {
    font-size: 100px;
    margin: 0;
    color: red;
}

.name_h5 {
    font-size: 25px;
    margin: 0;
    color: red;
}

.intro_div {
    display: flex;
}

.intro_topics {
    width: 120px;
    margin: 20px;
    border-radius: 50%;
    border: 1px solid red;
    background-color: lightcoral;
}

.intro_topics p {
    margin: 20px;
    text-align: center;
}

#self_intro,
#project_topics,
#bio_data {
    cursor: pointer;
}


/* .name {
    color: red;
} */


/* .main_content {
    position: relative;
} */

.self_intro_content {
    position: relative;
}

.my_photo {
    border-radius: 50%;
}

.photo_div {
    width: 250px;
    border: 2px solid red;
    text-align: center;
    left: 50%;
    margin-left: -50px;
}

.intro_content {
    /* width: 100%; */
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    /* height: 100px; */
}

.intro_details {
    width: 50%;
    /* height: 200px; */
    color: black;
    /* background-color: #aaaaaa; */
}

.details_button {
    padding: 30px;
    display: flex;
    justify-content: space-around;
}


/* link btn style*/

.ling_img_obj,
.link_obj {
    width: 75px;
    height: 50px;
    border-radius: 50%;
}

.btn_type {
    display: flex;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    /* box-shadow: #888; */
}

.btn_type p {
    align-self: center;
}

.btn_type:hover,
.btn_type:focus {
    background-color: rosybrown;
    color: black;
    border: 2px solid red;
}

.modal_career,
.modal_education,
.modal_skills,
.data_tech,
.data_ide,
.modal_participation,
.modal_certification,
.modal_program,
.modal_rating_program,
.modal_rating_front,
.modal_rating_back,
.modal_self_intro,
.modal_project,
.modal_bio_data {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
}

.career_objective,
.education,
.skills,
.tech_div,
.ide_div,
.participation_div,
.certification_div,
.program,
.rating_program,
.rating_front,
.rating_back,
.self_intro_con,
.project,
.bio_data_content {
    background-color: #fefefe;
    margin: 0 auto;
    /* margin-bottom: 100px; */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */

.close,
.close_btn,
.rate_close_btn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.close_btn:hover,
.close_btn:focus,
.rate_close_btn:hover,
.rate_close_btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/*table styling*/

table,
tr,
td,
th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

table {
    margin: 0 auto;
    background-color: darkkhaki;
}

.btn_skill_div {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.btn_skill_div button {
    background-color: burlywood;
    padding: 10px;
}

.btn_skill_div button:hover {
    background-color: orange;
    color: white;
    padding: 10px;
}

.table_div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.table_div table {
    margin: 0;
}

.checked {
    color: orangered;
}

.skill_rating {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.img_skill {
    height: auto;
    width: 50%;
}

.img_program,
.img_develop {
    width: 500px;
    height: 300px;
}

.star_rating {
    padding: 10px;
}

div>h3 {
    text-align: center;
}

.part_style {
    line-height: 2em;
}


/*button in rating */

.rating_btn {
    display: flex;
    justify-content: space-evenly;
}

.rating_btn button {
    padding: 10px;
    background-color: lightskyblue;
}

.rating_btn button:hover {
    background-color: blue;
    color: white;
}


/*second session */

.resume_main_content {
    position: relative;
}

.details {
    display: flex;
    justify-content: space-around;
}

.experience,
.interest {
    width: 40%;
    height: 150px;
    padding: 5px;
    color: red;
    background-color: grey;
    margin: 20px;
}

.experience:hover,
.interest:hover {
    background-color: violet;
    color: white;
}


/*footer*/

footer {
    background-color: lightblue;
    color: black;
}

.footer_div {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.personal_details {
    display: flex;
    /* width: 250px; */
    /* border: 1px solid red; */
    padding: 10px;
    margin: 5px;
}

.personal_details p {
    margin: 0;
    align-self: center;
    padding-left: 5px;
    font-weight: bold;
}

.footer_img,
.footer_div_img {
    width: 50px;
    height: 50px;
}